.main {
    display: flex;
    position: relative;
    /* height: 200vh; */

    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

body, html {
    overflow-y: scroll !important;
    background-color: #f8fafc;
}

nav {
    position: sticky;
    top: 0;
    z-index: 999;
}

@keyframes hoverDown {
    0% {
        opacity: 0;
        transform: translateY(-1em);
    } 100% {
        opacity: 1;
        transform: translateY(0em);
    }
}

.title-card {
    position: absolute;
    top: 20em;
}

.title {
    font: 10em 'merriweather';
    font-style: oblique 30deg;
    animation: hoverDown 0.5s;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.subtitle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.type-animation {
    font:
        bold 150% 'Rubik',
        Monaco,
        monospace;
    border-right: 0.1em solid black;
    width: 25ch;
    /* margin: 2em 2em; */
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation:
        typing 2s steps(36, end),
        blink-caret 0.1s step-end infinite alternate;
    animation:
        typing 2s steps(36, end),
        blink-caret 0.1s step-end infinite alternate;
}


/* From Uiverse.io by Gautammsharma */ 
.grid-wrapper {
  /* min-height: 100%; */
  height: 850px;
  width: 100%;
  position: relative;
  background-color: #f8fafc;
}

.grid-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-image: linear-gradient(to right, #e2e8f0 1px, transparent 1px),
    linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
  background-size: 20px 30px;
  -webkit-mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
}

aside, section, article {
    /* display: flex; */
    width: 70%;

    padding: 10em 0;

    & > h1 {
        text-align: center;
        padding: 1em;

        font-family: 'merriweather';
        font-style: italic;
        font-size: 5em;
    }
}

.content {
    display: flex;
    
    gap: 5em;
}

.left, .right {
    position: relative;
    width: 50%;

    & p {
        font-size: 1.3em;
    }

    & h1 {
        font-size: 3em;
    }
}

.left:has(img), .right:has(img) {
    /* background-color: pink; */
    height: 30em;
}

.content img {
    position: absolute;
}


aside {
    & img {
        border-radius: 1em;
        box-shadow: 0 0 2em #0000002b;
    }

    & .img-1 {
        transform-origin: top right;
        scale: 0.5;
        top: 0;
        right: 0;
        
    }

    & .img-2 {
        transform-origin: bottom left;
        scale: 0.29;
        bottom: 0;
        left: 20%;
    }

    & .img-3 {
        transform-origin: top left;
        scale: 0.5;
        top: 20%;
        left: 0;
    }
}