/* @property --sidebar-width {
    syntax: "<percentage>";
    initial-value: 50%;
    inherits: false;
}

@keyframes slide-in-out {
    from { --sidebar-width: 50%; } 
    to { --sidebar-width: 0%; }
}


.slide-out {
    animation: slide-in-out 0.5s ease forwards;
}

.slide-in {
    animation: slide-in-out 0.5s ease reverse forwards;
} */