* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Rubik';

    color: var(--text-primary);
    
    letter-spacing: -0.05em;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

html {
    overflow: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.5em 1em;
    background-color: var(--grey-1);
    
    border-bottom: 0.15em solid var(--grey-2);
    width: 100vw;
    font-weight: bold;
}

nav > div {
    width: 33%;
    font-size: large;
}

.nav-center {
    font-size: xx-large;
}

.nav-left {
    text-align: left;
}

.nav-left a {
    text-decoration: none;
}

.nav-center {
    text-align: center;
}

.nav-right {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
}

.nav-right a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    gap: 0.5em;

    padding: 0.2em;
    border-radius: 0.3em;

    transition: .2s ease;

    & svg {
        fill: var(--text-primary);
    }

    &:hover {
        background-color: var(--grey-2);
    }
}

.user-link-hover {
    display: none;

    z-index: 999;

    position: absolute;
    top: 2em;
    right: 0;
    padding: 1em;

    background-color: var(--grey-1);
    border: 0.15em solid var(--grey-2);
}

.user-link-hover.is-visible {
    display: block;
}


.nav-right a.is-invisible {
    display: none;
}

.main {
    display: flex;
    flex: 1;
}

.delete-task-modal {
    font-weight: bold;

    & .task-title {
        display: flex;
        gap: 0.5em;
        margin: 1em;
    }

    & .modal-completed, & .modal-date {
        background-color: var(--grey-2);
        color: var(--text-secondary);
        padding: 0.5em;
        border-radius: 0.5em;
    }

    & .modal-title {
        font-size: x-large;
    }

    & hr {
        border-color: var(--grey-1);
        margin: 0.5em;
    }

    & .modal-subtask-title {
        margin-left: 2em;
    }

    & ul {
        margin-left: 3em;
    }
}


.popup {
    width: 18em;

    font-weight: bold;
    padding: 0.8em 1em;
    text-align: center;
    
    border-radius: 0.5em;
}

.popup.danger {
    background-color: var(--danger-light);
    color: var(--danger);
    border: 0.15em solid var(--danger);
}

.popup.success {
    background-color: var(--success-light);
    color: var(--success);
    border: 0.15em solid var(--success);
}