aside {
    width: 20vw;
    height: 90vh;
    background-color: var(--grey-1);
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
/* 
    height: 100%; */
    
    /* box-shadow: 0 0 0.5em var(--grey-2); */
    
    /* border-right: 0.15em solid var(--grey-2); */
}

.nav-right a.is-invisible {
    display: none;
}

h4 {
    font-family: 'Rubik';
    color: var(--text-secondary);
    margin-bottom: 1.2em;
}

aside svg {
    fill : var(--text-secondary);
    width: 1.4em;
    height: 1.4em;
}

aside > div {
    margin-bottom: 3em;
}

.task-categories, .list-categories {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    font-weight: normal;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    
    transition: .1s ease;

    & div {
        display: flex;
        align-items: center;
        font-size: larger;
        
        font-weight: 500;
        color: var(--text-secondary);
        gap: 0.5em;
    }

    & > div:last-of-type {
        background-color: var(--grey-2);
        font-size: medium;
        padding: 0.2em 0.7em;
        border-radius: 0.3em;
    }
}

.create-new-list ,.create-new-subtask {
    display: flex;
    align-items: center;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;

    display: flex;
    align-items: center;
    font-size: larger;
    
    font-weight: 500;
    color: var(--text-tertiary);
    gap: 0.5em;

    transition: .2s ease;

    & svg {
        fill : var(--text-secondary);
        width: 1.55em;
        height: 1.55em;
    }
}

.create-new-list:hover ,.create-new-subtask:hover {
    /* font-weight: bold;
    letter-spacing: -0.08em; */
    color: var(--text-primary);
    background-color: var(--grey-2);

    & svg {
        fill: var(--text-primary);
    }
}

.category:hover {
    background-color: var(--grey-2);
    
    & div {
        /* font-weight: bold;
        letter-spacing: -0.08em; */
        color: var(--text-primary);
    }

    & > div:last-of-type {
        background-color: var(--grey-1);
    }

    & svg {
        fill: var(--text-primary);
    }

}

.col {
    width: 1.4em;
    height: 1.4em;

    display: flex;
    align-items: center;
    justify-content: center;

    & div {
        width: 50%;
        height: 50%;
        margin: auto;

        
        border-radius: 0.2em;
        /* background-color: var(--info); */
    }
}

section {
    width: 80vw;
    padding: 1em;
    border-radius: 1em;

    display: grid;
    grid-template-columns: 1fr 50em;
    transition: grid-template-columns .5s ease;

    height: 100%;
    
    gap: 1em;

    & h1 {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
}

.task-list {
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;

    padding-right: 1em;
}

section.is-closed {
    grid-template-columns: 1fr 0px;
}

section.is-closed article {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
}

.num {
    background-color: var(--grey-2);
    padding: 0.2em 0.7em 0.2em 0.6em;
    border-radius: 0.3em;
}

.tasks-actions {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.add-new, .filter {
    display: flex;
    gap: 0.2em;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    
    transition: .1s ease;

    border: none;
    font-size: large;

    & svg {
        fill : var(--text-secondary);
        width: 1.5em;
        height: 1.5em;
    }

    & div {
        display: flex;
        align-items: center;
        font-size: larger;
        
        font-weight: 500;
        color: var(--text-secondary);
        gap: 0.5em;
    }
}

.add-new:hover, .filter:hover, dialog button:hover {
    background-color: var(--grey-2);
    
    & div {
        color: var(--text-primary);
    }

    & svg {
        fill: var(--text-primary);
    }

}

.search {
    display: flex;
    align-items: center;

    border: 0.15em solid var(--grey-2);;
    border-radius: 0.5em;
    padding: 0.5em;

    & button {
        background-color: transparent;
        border: none;
    }

    & svg {
        fill : var(--text-secondary);
        width: 1.5em;
        height: 1.5em;
    }

    & input {
        flex: 1;
        font-size: larger;
        
        font-weight: 500;
        color: var(--text-tertiary);
        gap: 0.5em;

        border: none;
        outline: none;
        padding-left: 0.2em;
    }
}

.tasks {
    /* height: 65%; */
    /* overflow-y: auto; */
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.task, .subtask {
    display: flex;
    background-color: var(--grey-1);
    padding: 0.5em;

    border-radius: 0.3em;

    justify-content: space-between;

    & svg {
        fill: var(--text-secondary);
    }
}

.task > div, .subtask > div {
    display: flex;
    align-items: center;
    font-size: larger;
    
    font-weight: 500;
    color: var(--text-secondary);
    gap: 0.5em;
}

.list-col {
    /* background-color: gold; */
    padding: 0 0.2em;
    /* height: 100%; */
    
    /* align-self: stretch; */
    
    border-radius: 0.3em;

}

.list-col input[type="checkbox"] {
    outline: none;
    box-shadow: none;
    /* appearance: none; */

    accent-color: gold;
}

.list-col input[type="checkbox"]:focus-visible {
    outline: none;
}

.date {
    font-size: medium;
    font-weight: bold;

    color: var(--text-tertiary);
    padding: 0.2em 0.7em;
    background-color: var(--grey-2);

    border-radius: 0.5em;
}

.date.overdue {
    color: var(--danger);
    background-color: var(--danger-light);
}

h3 {
    display: flex;
    align-items: center;
    gap: 0.2em;

    margin: 0.2em;

    font-weight: normal;
    font-size: medium;
    color: var(--text-tertiary);

    & svg {
        width: 1.3em;
        height: 1.3em;
        fill: var(--text-tertiary);
    }
}

.subtasks-container {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}


.task svg, .subtask svg {
    border-radius: 0.2em;
    transition: .2s ease;
}

.task svg:hover, .subtask svg:hover {
    background-color: var(--grey-2);
}

article {
    background-color: var(--grey-1);
    padding: 2em;
    border-radius: 1em;

    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transform: translateX(0);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.2s ease;

    min-width: 0;
    overflow: hidden;

    & hr {
        margin: 0.8em 0;
        height: 0.1em;
        opacity: 0.5;
        /* border: none; */
        background-color: var(--text-tertiary);
    }

    & .description {
        overflow-y: auto;
        max-height: 15vh;
    }
}

.task-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-task-button {
    border-radius: 0.3em;
    transition: .2s ease;

    &:hover {
        background-color: var(--grey-2);
    }

    & svg {
        fill: var(--text-primary);
    }
}

.description {
    font-weight: 500;
    color: var(--text-tertiary);
    opacity: 0.8;

    text-align: justify;
}

.task-options {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.task-options label {
    font-weight: bold;
}

.task-options > div {
    display: flex;
    align-items: center;
    gap: 1em;
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  border: 2px solid #dddddd;
  background: #eeeeee;
  padding: 10px;
  transition: 0.4s;
}

select:hover,
select:focus {
  background: #dddddd;
}

select::picker-icon {
  color: #999999;
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  border: none;
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;

  border: 2px solid #dddddd;
  background: #eeeeee;
  padding: 10px;
  transition: 0.4s;
}

option .icon {
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.2em;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

::picker(select) {
  border-radius: 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option:nth-of-type(odd) {
  background: white;
}

option:hover,
option:focus {
  background: plum;
}

option .icon {
  font-size: 1.6rem;
  text-box: trim-both cap alphabetic;
}

selectedcontent .icon {
  display: none;
}

option:checked {
  font-weight: bold;
}

option::checkmark {
  order: 1;
  margin-left: auto;
  content: "☑️";
}

::picker(select) {
  opacity: 0;
  transition: all 0.4s allow-discrete;
}

::picker(select):popover-open {
  opacity: 1;
}

@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}

::picker(select) {
  top: calc(anchor(bottom) + 1px);
  left: anchor(10%);
}


input[type="date"] {
  border: 2px solid #dddddd;
  border-radius: 0.5em;
  background: #eeeeee;
  padding: 10px;
  transition: 0.4s;
  outline: none;
}

.overdue-label {
    display: none;
    background-color: var(--danger-light);
    border: 0.15em solid var(--danger);

    color: var(--danger);

    margin: 0.2em;

    width: 10em;

    font-weight: bold;
    padding: 0.5em 0.7em;
    text-align: center;
    
    border-radius: 0.5em;
}

.overdue-label.is-visible {
    display: inline-block;
}

input[type="date"]:hover,
input[type="date"]:focus {
  background: #dddddd;
}

.edit-subtasks-container {
    margin-top: 0.2em;
}


.new-subtasks > div {
    display: flex;
    align-items: center;

    position: relative;

    padding: 0.2em 0.5em;
    border-radius: 0.3em;

    font-weight: 500;
    font-size: large;
    color: var(--text-secondary);

    transition: .1s ease;

    & div {
        display: flex;
        align-items: center;
        font-size: larger;
        
        font-weight: 500;
        color: var(--text-secondary);
        gap: 0.5em;
    }

    &.completed::before {
        content: '';

        pointer-events: none;

        position: absolute;

        top: 45%;
        left: 0.5em;
        right: 0.5em;

        height: 0.15em;
        opacity: 0.7;
        
        border-radius: 1em;

        background-color: var(--text-secondary);
    }
}


.new-subtasks > div:hover {
    background-color: var(--grey-2);
    
    & div {
        /* font-weight: bold;
        letter-spacing: -0.08em; */
        color: var(--text-primary);
    }
/* 
    & > div:last-of-type {
        background-color: var(--grey-1);
    }

    & svg {
        fill: var(--text-primary);
    } */

}


.bul {
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.5em;

    & div {
        width: 50%;
        height: 50%;
        margin: auto;

        
        border-radius: 0.5em;
        border: 0.1em solid var(--text-primary);
    }
}

.task-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    & button {
        padding: 1em;
        font-weight: bold;
        /* border: none; */
        /* background-color: transparent; */
        font-size: larger;
        border-radius: 0.5em;

        transition: .1s ease;
    }
}

.delete-task {
    border: solid 0.2em var(--danger);

    &:hover {
        background-color: var(--danger);
        color: white;
    }
}

.save-task-changes {
    border: solid 0.2em var(--success);
    background-color: var(--success);

    &:hover {
        color: white;
    }
}

.popup {
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 1em;

    width: 18em;

    font-weight: bold;
    padding: 0.8em 1em;
    text-align: center;
    
    border-radius: 0.5em;

    & .exit {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.2em;
    }

    & button {
        background: none;
        border: none;

        border-radius: 0.2em;
    }
}


.popup.danger {
    background-color: var(--danger-light);
    border: 0.15em solid var(--danger);

    & div {
        color: var(--danger);

        & svg {
            fill: var(--danger);
        }
    }
}

.popup.success {
    background-color: var(--success-light);
    border: 0.15em solid var(--success);
    
    & div {
        color: var(--success);

        & svg {
            fill: var(--success);
        }
    }
}

.del-subtask {
    position: absolute;
    right: 0.2em;

    fill: var(--text-secondary);

    transition: .1s ease;
}

.del-subtask:hover {
    fill: var(--text-primary);
    scale: 1.1;
}

dialog {
    position: fixed;
    margin: auto;

    background-color: var(--grey-1);

    border-radius: 1em;
    padding: 1em;
    border: none;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(1px);
}

input[type="text"], textarea {
    background-color: transparent;
    border: none;
}

.title-input {
    font-size: larger;
    font-weight: bold;
}

textarea {
    width: 100%;
}


.modal-buttons {
    display: flex;
    gap: 0.2em;
    align-items: center;
    justify-content: center;
    
}

dialog button {
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    
    transition: .1s ease;

    border: none;
    font-size: larger;
    font-weight: bold;

    color: var(--text-secondary);
}

dialog button:hover {
    background-color: var(--grey-2);
    
    color: var(--text-primary);
}

dialog h1 {
    margin-bottom: 0.8em;
}

dialog input[type="text"] {
    font-size: larger;
        
    font-weight: 500;
    color: var(--text-tertiary);
    gap: 0.5em;

    border: 0.15em var(--text-tertiary) solid !important;
    border-radius: 0.5em;
    outline: none;
    padding: 0.5em 1em;
}

dialog input[type="color"] {
    width: 100%;
    height: 3em;
    border-radius: 0.5em;

    outline: none;
    padding: 0.2em;

    border: 0.15em var(--text-tertiary) solid !important;
}

dialog label {
    font-weight: bold;
    font-size: large;
}

dialog div:has(input) {
    margin-bottom: 0.5em;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    
    
    transition: .1s ease;

    & > div {
        display: flex;
        align-items: center;
        font-size: larger;
        
        font-weight: 500;
        color: var(--text-secondary);
        gap: 0.5em;
    }

    & .task-count {
        background-color: var(--grey-2);
        font-size: medium;
        padding: 0.2em 0.7em;
        border-radius: 0.3em;
    }

    & .name {
        color: var(--text-secondary);
        cursor: pointer;
    }
}


.list svg {
    /* display: none; */
    opacity: 0;
    scale: 0.5;

    fill: var(--text-tertiary);

    transition: .1s ease;
}

.list:hover svg {
    /* display: flex; */
    opacity: 1;
    scale: 0.8;

}

.list svg:hover {
    scale: 1.2;
    fill: var(--text-primary);
}

.list-information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    & div:first-of-type {
        display: flex;
        font-weight: bold;
        font-size: large;

        gap: 0.2em;

    }

    & div:last-of-type {
        background-color: var(--grey-2);
        font-size: medium;
        padding: 0.2em 0.7em;
        border-radius: 0.3em;
    }
}