* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;

    font-family: 'Roboto';
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1em;
}